<?xml version="1.0"?>
<config>
    <modules>
        <Spranks_GridLimits>
            <version>0.1.0</version>
        </Spranks_GridLimits>
    </modules>
    <global>
        <models>
            <spranks_gridlimits>
                <class>Spranks_GridLimits_Model</class>
            </spranks_gridlimits>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <spranks_gridlimits>
                        <class>Spranks_GridLimits_Model_Observer</class>
                        <type>model</type>
                        <method>coreBlockAbstractPrepareLayoutBefore</method>
                    </spranks_gridlimits>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <translate>
            <modules>
                <spranks_gridlimits>
                    <files>
                        <default>Spranks_GridLimits.csv</default>
                    </files>
                </spranks_gridlimits>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <admin>
            <gridlimits>
                <sales_order_grid>20</sales_order_grid>
                <sales_invoice_grid>20</sales_invoice_grid>
                <sales_shipment_grid>20</sales_shipment_grid>
                <sales_creditmemo_grid>20</sales_creditmemo_grid>
                <catalog_product_grid>20</catalog_product_grid>
                <catalog_attribute_grid>20</catalog_attribute_grid>
                <customers_customer_grid>20</customers_customer_grid>
            </gridlimits>
        </admin>
    </default>
</config>
